<div ng-controller="EntityAndDAOGeneratorController">
	<!-- BEGIN PAGE BASE CONTENT -->
	<div class="m-heading-1 border-green m-bordered">
		<h3>DataTables jQuery Plugin</h3>
		<p>DataTables is a plug-in for the jQuery Javascript library. It is
			a highly flexible tool, based upon the foundations of progressive
			enhancement, and will add advanced interaction controls to any HTML
			table.</p>
		<p>
			For more info please check out <a class="btn red btn-outline"
				href="http://datatables.net/" target="_blank">the official
				documentation</a>
		</p>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light portlet-fit portlet-datatable bordered"
				id="form_wizard_1">
				<div class="portlet-title">
					<div class="caption">
						<i class=" icon-layers font-green"></i> <span
							class="caption-subject font-green sbold uppercase">Connection</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-cloud-upload"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-wrench"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-trash"></i>
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="portlet-body form">
						<form class="form-horizontal" role="form">
							<div class="form-body">
								<div class="form-group">
									<label class="col-md-3 control-label">Driver Class Name</label>
									<div class="col-md-9">
										<input type="text" ng-model="connection.driver" class="form-control"
											placeholder="Enter text"> <span class="help-block">
											example: oracle.jdbc.driver.OracleDriver </span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Url</label>
									<div class="col-md-9">
										<input type="text" ng-model="connection.url" class="form-control"
											placeholder="Enter text"> <span class="help-block">
											example: jdbc:oracle:thin:@localhost:1521/XE </span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Username</label>
									<div class="col-md-9">
										<input type="text" class="form-control" ng-model="connection.username"
											placeholder="Enter text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Password</label>
									<div class="col-md-9">
										<input type="text" class="form-control" ng-model="connection.password"
											placeholder="Enter text">
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button ng-click="showTableClick()" class="btn green">Show Tables</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box red">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-cogs"></i>Tables
					</div>
					<div class="actions">
						<a href="javascript:;" class="btn btn-default btn-sm"> <i
							class="fa fa-plus"></i> Gen
						</a> <a href="javascript:;" class="btn btn-default btn-sm"> <i
							class="fa fa-print"></i> Print
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<!--<table
						class="table table-striped table-bordered table-hover table-checkable order-column"
						id="sample_3">
						<thead>
							<tr>
								<th class="table-checkbox"><input type="checkbox"
									class="group-checkable" data-set="#sample_3 .checkboxes" /></th>
								<th>Name</th>
								<th>Key</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes" value="1" />
								</td>
								<td>shuxer</td>
								<td>id</td>
								<td><span class="label label-sm label-success"> Ok </span></td>
							</tr>
							<tr ng-repeat="tb in tables" class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"/>
								</td>
								<td>{{tb.name}}</td>
								<td>{{tb.keys}}</td>
								<td><span class="label label-sm label-success"> {{tb.status}} </span></td>
							</tr>
	
						</tbody>
					</table>-->
					CONFIG FILE = C:\techsphere\dev\dev-ass\configuration.xlsx
					<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                        <thead>
                            <tr role="row" class="heading">
                                <th class="table-checkbox"><input type="checkbox"
									class="group-checkable" data-set="#sample_3 .checkboxes" /></th>
								<th>Name</th>
								<th>Key</th>
								<th>Status</th>
                            </tr>
                            <tr role="row" class="filter">
                            	<td></td>
                            	<td><input type="text" class="form-control form-filter input-sm" name="filter_name"></td>
                            	<td></td>
                            	<td>
                            		<div class="margin-bottom-5">
                                        <button class="btn btn-sm yellow filter-submit margin-bottom">
                                            <i class="fa fa-search"></i> Search</button>
                                    </div>
                                    <button class="btn btn-sm red filter-cancel">
                                        <i class="fa fa-times"></i> Reset</button>
                            	</td>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light portlet-fit portlet-datatable bordered"
				id="form_wizard_1">
				<div class="portlet-title">
					<div class="caption">
						<i class=" icon-layers font-green"></i> <span
							class="caption-subject font-green sbold uppercase">Entity
							Code</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default" ng-click="copy('#entityCodeTxt')"
							href="javascript:;"> <i class="icon-docs"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-wrench"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-trash"></i>
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="portlet-body form">
						<form role="form">
							<div class="form-body">
								<div class="form-group">
									<textarea class="form-control" id="entityCodeTxt" ng-model="code.entity" rows="30"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
		<div class="col-md-6 col-sm-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet light portlet-fit portlet-datatable bordered"
				id="form_wizard_1">
				<div class="portlet-title">
					<div class="caption">
						<i class=" icon-layers font-green"></i> <span
							class="caption-subject font-green sbold uppercase">Dao Code</span>
					</div>
					<div class="actions">
						<a class="btn btn-circle btn-icon-only btn-default" ng-click="copy('#daoCodeTxt')"
							href="javascript:;"> <i class="icon-docs"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-wrench"></i>
						</a> <a class="btn btn-circle btn-icon-only btn-default"
							href="javascript:;"> <i class="icon-trash"></i>
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="portlet-body form">
						<form role="form">
							<div class="form-body">
								<div class="form-group">
									<textarea class="form-control" id="daoCodeTxt" ng-model="daoCode" rows="30"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
	<!-- END PAGE BASE CONTENT -->
</div>